.line-through {
    text-decoration: line-through;
}

.custom-item {
    display: flex;
    align-items: center;

    ion-checkbox {
        margin-right: -75%;
    }

    ion-label {
        flex: 1;
    }

    ion-button {
        margin-left: auto;
    }
}