<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ translationService.getTranslation('myShoppingList') }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none" class="ion-text-center" *ngIf="this.shoppingItemsService.isEmpty">
    <ion-label color="medium">{{ translationService.getTranslation('noItems') }}</ion-label>
  </ion-item>
    
    <ion-list>
      <ion-item *ngFor="let item of items" class="custom-item">
        <ion-checkbox [(ngModel)]="item.checked" (ionChange)="toggleChecked(item)"></ion-checkbox>
        <ion-label [ngClass]="{'line-through': item.checked}">{{ item.name }}</ion-label>
        <ion-button (click)="removeItem(item)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>
